.about {
  padding: 60px 0;
  @media screen and (min-width: 1200px) {
    padding-top: 94px;
    padding-bottom: 94px;
  }
  
  &__conteiner {
    @extend %conteiner;
    
  }
  &__title {
    @extend %reset;
    display: none;
  }
}
.about-list {
  @extend %reset;
  @media screen and (min-width:768px) {
      display: flex;
      flex-wrap: wrap;
      gap: 30px;
      justify-content: center;
    }
  
    @media screen and (min-width:1200px) {
      flex-wrap: nowrap;
    }
  &__link {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 120px;
    background: #f5f4fa;
    border-radius: 4px;
    margin-bottom: 30px;
  }
  &__caption {
    text-align: center;
      margin-bottom: 10px;
      font-weight: 700;
      font-size: 14px;
      line-height: $main-line-h;
      letter-spacing: $main-letter-s;
      text-transform: uppercase;
    
      @media screen and (min-width:768px) {
        text-align: start;
      }
  }
}
.about-list__item {
  @media screen and (max-width:1199px) {
    &:not(:last-child) {
      margin-bottom: 30px;
    }
  }
  @media screen and (min-width:768px) { 
    width: calc((100% - 2 * 30px)/2);
  }
}
.about-list__desc {
  @extend %reset;
  font-size: 14px;
  line-height: $txt-line-h;
  letter-spacing: $main-letter-s;
  color: $text-cl;
}